/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.homeBackKing {
    display: inline-block;
    margin: 0 0.5rem;
    text-align: center;
    -webkit-animation: zoomIn;
    animation: zoomIn;
    /* referring directly to the animation's @keyframe declaration */
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    /* don't forget to set a duration! */
    z-index: 1;
}

.homeBackKing img {
    width: 30%;
}

.homeBack {
    position: absolute;
    text-align: center;
    -webkit-animation: rotateIn;
    animation: rotateIn;
    /* referring directly to the animation's @keyframe declaration */
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.homeBack img {
    width: 80%;
}

@media screen and (max-width:600px) {
    .homeBackKing img {
        width: 50%;
    }
}