/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.ourGalleryBox {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ourGalleryBox img {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.swiper-button-next {
    margin-right: 0;
    color: #ffc400;
}

.swiper-button-prev {
    margin-left: 0;
    color: #ffc400;
}

@media screen and (max-width:600px) {
    .swiper2 {
        width: 100%;
        margin-left: 0;
    }
    .ourGalleryBox img {
        width: 100%;
    }
    .swiper-button-next {
        margin-right: 0;
        color: #ffc400;
        margin-top: 30%;
    }
    .swiper-button-prev {
        margin-left: 0;
        color: #ffc400;
        margin-top: 30%;
    }
}


/*Our Gallery*/

.ourGalleryContainer {
    margin: 0 10%;
    overflow: hidden;
    background-size: cover;
}

.ourGalleryBack {
    /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/imgs/ourGalleryBack.jpeg'); */
    width: 80%;
    height: 75vh;
    background-size: cover;
    position: absolute;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    margin-left: -10%;
    margin-top: 10%;
}


/*Our Gallery End*/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 9999999;
    /* Sit on top */
    left: 0;
    top: 0;
    margin-left: 200%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    -webkit-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

@media screen and (max-width:600px) {
    .modal {
        margin-left: 0%;
    }
}

.modal-ceo {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-left: 200%;
    width: 100%;
    height: 100%;
    -webkit-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width:600px) {
    .modal-ceo {
        margin-left: 0%;
    }
}


/* Modal Content */

.modal-content {
    margin: auto;
    padding: 5%;
    width: 80%;
}

.modal-content-ceo {
    background-color: white;
    margin: auto;
    margin-top: 10%;
    width: 80%;
}

.modal-Lesson {
    display: none;
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    margin-left: 400%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    -webkit-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    color: black;
}

.modal-content-Lesson {
    background-color: white;
    margin: auto;
    margin-top: 5%;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}