/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
    --bg-color: #171717;
    --text-color: #FFD900;
}

html,
body {
    margin: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    cursor: none;
}

body:hover {
    opacity: 1;
}

.cursor {
    transform: scale(1.4);
    mix-blend-mode: difference;
    background: transparent;
}

html {
    scroll-behavior: smooth;
}


/* #00215c */

main {
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
}

section {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cursor {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px -3px 41px -1px rgba(250, 250, 250, 0.64);
    transition: all .1s linear;
    pointer-events: none;
    z-index: 99999999;
}

.icon {
    display: none;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #ffe604 var(--bg-color);
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: #ce0000;
    border-radius: 10px;
    border: 3px groove #ffffff;
}


/*Head Container*/

#headContainer {
    width: 100%;
}

.headSlide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #efefef;
    height: 100vh;
}

.headSlideLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 93.9vh;
}

@media screen and (max-width:600px) {
    .headSlide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .icon {
        display: block;
        position: fixed;
        top: 5%;
        left: 5%;
        z-index: 2;
        font-size: 26px;
    }
    .headSlideLeft {
        width: 40%;
        height: auto;
        margin-left: -40%;
        margin-top: 15%;
    }
}

.headSlideLeftContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    .headSlideLeftContainer {
        width: 100%;
    }
}

.headSlideLeftContainer img {
    width: 100%;
}

.headSlideImg {
    width: 50%;
}

.headSlideText {
    width: 50%;
    font-family: 'Oswald', sans-serif;
    border-left: black solid 1px;
    padding-left: 15px;
    height: 30%;
}

.headSlideText h1,
h2,
p {
    -webkit-animation: fadeInLeft;
    animation: fadeInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.headSlideText h1 {
    font-size: 70px;
    color: black;
    letter-spacing: 20px;
    font-weight: lighter;
    text-shadow: 4px 4px rgb(71, 71, 57);
}

.headSlideText h2 {
    font-size: 70px;
    color: black;
    letter-spacing: 20px;
    font-weight: lighter;
    text-shadow: 4px 4px rgb(231, 139, 1);
}

@media screen and (max-width:600px) {
    .headSlideText h1,
    h2 {
        font-size: 20px;
        margin-left: 10%;
    }
}

.headSlideText h2 {
    color: #FEDD00;
}

.headSlideText p {
    margin-top: 20%;
    color: black;
}

.headSlideRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    .headSlideRight {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 40%;
    }
}


/*Head Container End*/


/*Rank*/

.rankBack {
    background-color: var(--bg-color);
    height: 50vh;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
}

#page3 {
    background-color: white;
}

#rank {
    margin: 0 10%;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width:600px) {
    #rank {
        margin-top: 20%;
    }
}

.rankTop {
    margin-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.rankTop h1 {
    font-size: 48px;
    color: black;
    letter-spacing: 0;
    width: 25%;
    text-shadow: 4px 4px rgb(231, 139, 1);
    z-index: 2;
}

.rankTop h2 {
    margin-left: 10%;
    font-size: 13px;
    width: 75%;
    color: black;
    letter-spacing: 0;
}

@media screen and (max-width:600px) {
    .rankTop h1 {
        font-size: 15px;
        width: 40%;
    }
    .rankTop h2 {
        width: 60%;
    }
}

.rankMiddle {
    margin-top: 8%;
    z-index: 2;
}

.rankMiddleImg {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    z-index: 3;
}

.rankMiddleImgFit {
    width: 30%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width:600px) {
    .rankMiddle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .rankMiddleImg {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .rankMiddleImgFit {
        width: 100%;
        height: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10%;
    }
}

.rankMiddleImgFit img {
    width: 100%;
    z-index: 2;
}

.rankMiddleText {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media screen and (max-width:600px) {
    .rankMiddleText {
        width: 100%;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.rankMiddleTextFit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 15%;
    height: 60px;
    margin-top: -20px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 10px rgb(194, 194, 194);
    box-shadow: 1px 1px 10px rgb(194, 194, 194);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
}

@media screen and (max-width:600px) {
    .rankMiddleTextFit {
        margin-left: 20%;
        width: 80%;
        margin-top: 5%;
        text-align: center;
    }
}

.rankBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5%;
}

.rankBackChess {
    position: absolute;
    bottom: 0;
    left: 80%;
}

.rankBackChess img {
    width: 100%;
}


/*Rank End*/


/*About Us*/

#aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: 0 10%;
    background-color: white;
}

@media screen and (max-width:600px) {
    #aboutUs {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.aboutUsLeft {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.aboutUsLeftContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation: fadeInRight;
    animation: fadeInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@media screen and (max-width:600px) {
    .aboutUsLeftContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .aboutUsLeft {
        width: 0;
        margin-top: 70%;
    }
}

.aboutUsLeftContainer1 {
    margin-left: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aboutUsLeftContainer1 h1 {
    color: #FFD900;
    font-size: 250px;
    font-weight: bold;
}

.aboutUsLeftContainer1 h2 {
    color: red;
    font-size: 30px;
    letter-spacing: 0;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .aboutUsLeftContainer1 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-left: 0%;
    }
    .aboutUsLeftContainer1 h1 {
        width: 300px;
        font-size: 100px;
    }
    .aboutUsLeftContainer1 h2 {
        color: black;
        font-size: 15px;
        color: red;
        margin-left: -50%;
    }
}

.aboutUsLeftContainer2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 10%;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}

.aboutUsLeftContainer2 p {
    margin-bottom: 5%;
}

@media screen and (max-width:600px) {
    .aboutUsLeftContainer2 {
        font-size: 14px;
        margin-left: 0;
        width: 80%;
    }
}

.aboutUsRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    margin: 20% 0;
    margin-right: 5%;
    margin-left: 10%;
    -ms-flex-line-pack: center;
    align-content: center;
}

.aboutUsRight img {
    width: 100%;
}

@media screen and (max-width:600px) {
    .aboutUsRight {
        width: 100%;
        margin: 0;
        -ms-flex-line-pack: center;
        align-content: center;
        margin-top: 10%;
    }
    .aboutUsRight img {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width:600px) {
    .aboutUsRight {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.abouUsBackChess {
    position: absolute;
    bottom: 0;
    left: 80%;
}

.abouUsBackChess img {
    width: 100%;
}


/*About Us End*/


/*Replay Training*/

#replayTraining {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    height: 100vh;
    background-color: var(--bg-color);
    color: white;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.replayHeading {
    margin-bottom: 3%;
    font-size: 48px;
    font-weight: bold;
    color: #FFD900;
}

@media screen and (max-width:600px) {
    #replayTraining {
        font-size: 12px;
    }
    .replayHeading {
        font-size: 32px;
    }
}

.replayTrainingContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.replayTrainingBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width:600px) {
    .replayTrainingContainer {
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 5%;
    }
    .replayTrainingBox {
        width: 40%;
        border: 1px solid white;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.replayTrainingBox img {
    width: 200px;
}

@media screen and (max-width:600px) {
    .replayTrainingBox img {
        width: 100px;
    }
}

.replayTrainingBox h3 {
    margin-top: 10%;
    font-weight: bold;
}

.replayTrainingBox p {
    text-align: center;
}


/*Replay Training End*/


/*Teachers*/

.teachersBack {
    background-image: linear-gradient(to right, var(--bg-color), var(--bg-color));
    position: absolute;
    width: 48%;
    height: 100%;
    border-radius: 1500px 0 0 1500px;
    left: 52%;
}

.teachersBackImg {
    background-image: linear-gradient(to right, var(--bg-color), var(--bg-color));
    position: absolute;
    width: 50%;
    height: 100%;
    right: 50%;
    overflow: hidden;
}

@media screen and (max-width:600px) {
    .teachersBack {
        width: 100%;
        height: 50%;
        top: 50%;
        left: 0;
        border-radius: 1500px 1500px 0 0;
    }
    .teachersBackImg {
        width: 100%;
        height: 50%;
        right: 0;
    }
}

.teachersContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5%;
    height: 80vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.teachersBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    margin-top: 10%;
    overflow: hidden;
    height: 60vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.teachersBox img {
    position: absolute;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10%;
}

@media screen and (max-width:600px) {
    .swiperBox img {
        max-width: 90%;
        height: 100%;
    }
    .teachersBox {
        margin: 0;
        margin-top: 10%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .teachersBox img {
        height: 250px;
    }
}

.teachers {
    background-color: white;
}

.teachersBoxContent {
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    color: white;
    background-color: var(--bg-color);
}

.teachersBoxContent ul {
    margin-left: 10%;
}

.teachersBoxContent h3 {
    padding: 5%;
}

@media screen and (max-width:600px) {
    .teachersContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
        height: 80vh;
    }
    .teachersBox {
        width: 100%;
        margin-left: 0%;
    }
    .teachersBoxContent {
        width: 80%;
        overflow-y: scroll;
        height: 200px;
        margin-left: 10%;
        margin-top: -10%;
        border-radius: 40px;
    }
    .teachersBoxContent ul {
        margin-left: 5%;
    }
    .teachersBoxContent ul li {
        font-size: 12px;
    }
}

.teachersBackChess {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100000;
}

.teachersBackChessLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.teachersBackChessLeft img {
    width: 20%;
}


/*Teachers End*/


/*CEO*/

.ceoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Oswald', sans-serif;
}

@media screen and (max-width:600px) {
    .ceo {
        margin-top: 25%;
    }
    .ceoContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.ceoContainerLeft {
    width: 50%;
    margin-left: 15%;
    margin-top: 4%;
}

@media screen and (max-width:600px) {
    .ceoContainerLeft {
        margin-left: 0;
        width: 70%;
    }
    .ceoContainerLeft img {
        width: 100%;
    }
}

.ceoContainerRight {
    width: 50%;
    margin-top: 4%;
    margin-right: 20%;
}

.ceoContainerRight h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
}

@media screen and (max-width:600px) {
    .ceoContainerRight {
        width: 80%;
        margin-right: 0;
        margin-top: 5%;
    }
    .ceoContainerRight h1 {
        font-size: 25px;
    }
}

.ceoContainerRight p {
    font-size: 20px;
    font-weight: 400;
    color: #2B2A28;
}

@media screen and (max-width:600px) {
    .ceoContainerRight p {
        font-size: 15px;
        margin-top: 5%;
    }
}

.ceoContainerBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40%;
    font-size: 25px;
}

.ceoContainerBottom h3 {
    margin-bottom: 10%;
}

.ceoContainerBottom p {
    font-size: 50px;
    color: #FFD900;
    margin: 0;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .ceoContainerBottom {
        margin-left: 0%;
        margin-top: 5%;
        font-size: 15px;
        width: 300px;
    }
}


/*CEO End*/


/*Partners*/

.partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.partners img {
    width: 20%;
}

@media screen and (max-width:600px) {
    .partners {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-top: 7%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .partners img {
        width: 55%;
    }
}


/*Partners End*/